.layout {
  :global {
    .ant-layout-header {
      background-color: white;
      color: @primary-color !important;
      position: fixed;
      z-index: 99;
      width: 100%;
    }
    .ant-layout-content {
      padding: 0;
      margin: 0;
      min-height: 100vh;
    }
  }

  .header {
    // padding: 0 @padding-lg * 8;
  }

  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .footer {
    background-color: @secondary-color;
    color: white;
  }
}